<div class="container">
    <h1 class="recent_news_title float-right">آخر الأخبار</h1>
    <hr style="width:80%;float:right;clear:both;margin-top:0;">
    <div class="posts">
        {% if data %}
        {% for post in data%}
        <div class="post float-right  ml-1">
            {% if post.image %}
                <a href="{{ url_for('posts.post',id = post.id,category = post.category) }}">
                    <img class ="img float-right"src="{{ post.image}}" alt="{{ post.title}}"/>
                </a>
                <a href="{{ url_for('posts.post',id = post.id,category = post.category) }}">
                    <p class="caption">
                        {{post.title}}
                    </p>
                </a>
            {% else %}
            <a href="{{ url_for('posts.post',id = post.id,category=post.category) }}">
                <p class="caption" style="font-size:20px">
                    {{post.title}}
                </p>
                <span class="post_desc">
                    {{post.description}}
                </span>

            </a>
            {% endif %}
            
        </div>
        {%endfor%}
        {% endif %}
    </div>
    <div class="pagination_div">
        {{ pagination.links}}
    </div>
</div>

